@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* Headers */
.title-h1 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 72px;
}

.title-h2 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 64px;
  line-height: 120%;
}

.title-h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
  line-height: 120%;
}

.title-h3-bold {
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
  line-height: 110%;
  font-weight: 800;
}

.title-h3-semibold {
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
  line-height: 120%;
  font-weight: 700;
}

.title-h4 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 130%;
}

.title-h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 130%;
}

.title-h6 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
  font-weight: 700px;
  line-height: 130%;
}

/* body */
.subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 146%;
}

.body-medium {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 140%;
}

.body-regular {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
}

.body-medium-small {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 140%;
}

.body-regular-small {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 140%;
}

.body-badge {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  line-height: 140%;
}

.caption {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 100%;
}

.hero-headline {
  font-family: "Open Sans", sans-serif;
  font-size: 56px;
  line-height: 110%;
  font-weight: 800;
}

.hero-subheadline {
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
  line-height: 110%;
  font-weight: 800;
}
